<% provide(:title,"About") %>

<h1>sample_app について</h1>
<p>
  sample_appは<a href="http://railstutorial.jp">Ruby on Rails Tutorial</a>に則って作られた
  <a href="http://rubyonrails.org/">Ruby on Rails</a>を学ぶためのサンプルアプリケーションです。
</p>
