<% provide(:title,"Help") %>

<h1>sample_app ヘルプ画面</h1>
<p>Ruby on Rails Tutorialの<a href="http://railstutorial.jp/help">ヘルプページ</a>へ</p>
<p>このサンプルに関しては<a href="http://railstutorial.jp/">Ruby on Rails Tutorial</a>を参照</p>